/*

Todo: Clean CSS.
Base: layer_cake
*/

@import url('flatstyle_emerald_white.css');
@import url('flatstyle_dark.css');

#extra1 {
background: #9b59b6;
}

.colhead_dark {
background: #9b59b6;
color: #fff;
}
.head {
background: #9b59b6;
color: #fff;
}
.head stronge{
    color:#fff;
}

.colhead_dark stronge a{
    color:#fff;
}

.colhead_dark stronge a:hover{
    color: #34495e;
}

.center_poll {
    background:#9b59b6;
}

#searchbars input:focus {
border-color: #9b59b6;
background:#fff;
color: #34495e;
}

.colhead {
background: #9b59b6;
color:#fff;
}

input[type=submit], input[type=button]{
    background:#9b59b6;
}

input[type=submit]:hover, input[type=button]:hover{
background-color: #ec7063;
border-color: #ec7063;
}

input[type=submit]:focus, input[type=button]:focus {
background-color: #ec7063;
border-color: #ec7063;
}

textarea:hover,select:hover, input[type=text]:hover, input[type="email"]:hover, input[type="password"]:hover, input[type=search]:hover {
border-color: #9b59b6;
}

textarea:active,select:active, input[type=text]:active, input[type="email"]:active, input[type="password"]:active, input[type=search]:active,
textarea:focus,select:focus, input[type=text]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type=search]:focus{
border-color: #8e44ad;
}

.tooltipster-default {
	border-radius: 5px;
	border: 2px solid #34495e;
	background: #8e44ad;
	color: #fff!important;
}

.colhead_dark a{
	color:#f7f7f7;
}

.colhead_dark a:hover{
	color:#bdc3c7;
}

a{
	color: #9b59b6;
}

.colhead_dark a,.colhead a,.head a{
	color: #f7f7f7;
}

.colhead_dark a:hover,.colhead a:hover,.head a:hover {
	color: #555;
}

.unread_locked_sticky::before,.unread_sticky::before,.unread_locked::before,.unread::before{
	color: #9b59b6;
}